In [4]:
import pandas as pd

#course_embeddings
course_embeddings = pd.read_csv('course_embeddings.csv')
#course_genre
course_genre = pd.read_csv('course_genre.csv')
#course_processed
course_processed = pd.read_csv('course_processed.csv')
#course_ratings
course_ratings = pd.read_csv('course_ratings.csv')
#courses_bows
courses_bows = pd.read_csv('courses_bows.csv')
#ratings
ratings = pd.read_csv('ratings.csv')
#rs_content_test
rs_content_test = pd.read_csv('rs_content_test.csv')
#sim
sim = pd.read_csv('sim.csv')
#user_embeddings
user_embeddings = pd.read_csv('user_embeddings.csv')
#user_profile
user_profile = pd.read_csv('user_profile.csv')

In [5]:
#course_embeddings
course_embeddings = pd.read_csv('course_embeddings.csv')
course_embeddings_columns = list(course_embeddings.columns)
print("course_embeddings columns: ", course_embeddings_columns)

course_embeddings columns:  ['item', 'CFeature0', 'CFeature1', 'CFeature2', 'CFeature3', 'CFeature4', 'CFeature5', 'CFeature6', 'CFeature7', 'CFeature8', 'CFeature9', 'CFeature10', 'CFeature11', 'CFeature12', 'CFeature13', 'CFeature14', 'CFeature15']

In [29]:
print(course_embeddings.dtypes)

item           object
CFeature0     float64
CFeature1     float64
CFeature2     float64
CFeature3     float64
CFeature4     float64
CFeature5     float64
CFeature6     float64
CFeature7     float64
CFeature8     float64
CFeature9     float64
CFeature10    float64
CFeature11    float64
CFeature12    float64
CFeature13    float64
CFeature14    float64
CFeature15    float64
dtype: object

In [6]:
#course_genre
course_genre = pd.read_csv('course_genre.csv')
course_genre_columns = list(course_genre.columns)
print("course_genre columns: ", course_genre_columns)

course_genre columns:  ['COURSE_ID', 'TITLE', 'Database', 'Python', 'CloudComputing', 'DataAnalysis', 'Containers', 'MachineLearning', 'ComputerVision', 'DataScience', 'BigData', 'Chatbot', 'R', 'BackendDev', 'FrontendDev', 'Blockchain']

In [38]:
course_genre.dtypes

COURSE_ID          object
TITLE              object
Database            int64
Python              int64
CloudComputing      int64
DataAnalysis        int64
Containers          int64
MachineLearning     int64
ComputerVision      int64
DataScience         int64
BigData             int64
Chatbot             int64
R                   int64
BackendDev          int64
FrontendDev         int64
Blockchain          int64
dtype: object

In [7]:
#course_processed
course_processed = pd.read_csv('course_processed.csv')
course_processed_columns = list(course_processed.columns)
print("course_processed columns: ", course_processed_columns)

course_processed columns:  ['COURSE_ID', 'TITLE', 'DESCRIPTION']

In [37]:
course_processed.dtypes

COURSE_ID      object
TITLE          object
DESCRIPTION    object
dtype: object

In [8]:
#course_ratings
course_ratings = pd.read_csv('course_ratings.csv')
course_ratings_columns = list(course_ratings.columns)
print("course_ratings columns: ", course_ratings_columns)

course_ratings columns:  ['user', 'item', 'rating']

In [36]:
course_ratings.head()

      user        item  rating
0  1889878    CC0101EN     3.0
1  1342067    CL0101EN     3.0
2  1990814  ML0120ENv3     3.0
3   380098    BD0211EN     3.0
4   779563    DS0101EN     3.0

In [31]:
course_ratings.dtypes

user        int64
item       object
rating    float64
dtype: object

In [9]:
#courses_bows
courses_bows = pd.read_csv('courses_bows.csv')
courses_bows_columns = list(courses_bows.columns)
print("courses_bows columns: ", courses_bows_columns)

courses_bows columns:  ['doc_index', 'doc_id', 'token', 'bow']

In [10]:
#ratings
ratings = pd.read_csv('ratings.csv')
ratings_columns = list(ratings.columns)
print("ratings columns: ", ratings_columns)

ratings columns:  ['user', 'item', 'rating']

In [11]:
#rs_content_test
rs_content_test = pd.read_csv('rs_content_test.csv')
rs_content_test_columns = list(rs_content_test.columns)
print("rs_content_test columns: ", rs_content_test_columns)

rs_content_test columns:  ['user', 'item', 'rating']

In [33]:
rs_content_test.dtypes

user        int64
item       object
rating    float64
dtype: object

In [34]:
ratings.info

<bound method DataFrame.info of            user        item  rating
0       1889878    CC0101EN     3.0
1       1342067    CL0101EN     3.0
2       1990814  ML0120ENv3     3.0
3        380098    BD0211EN     3.0
4        779563    DS0101EN     3.0
...         ...         ...     ...
233301  1540125    DS0101EN     3.0
233302  1250651    PY0101EN     3.0
233303  1003832  CB0105ENv1     3.0
233304   922065    BD0141EN     3.0
233305  1596120    DS0301EN     3.0

[233306 rows x 3 columns]>

In [35]:
rs_content_test.info

<bound method DataFrame.info of          user       item  rating
0     1502801   RP0105EN     3.0
1     1609720   CNSC02EN     2.0
2     1347188   CO0301EN     3.0
3      755067   ML0103EN     3.0
4      538595   BD0115EN     3.0
...       ...        ...     ...
9397  1385217   EE0101EN     3.0
9398  1864644   DA0101EN     3.0
9399   435858  TMP0105EN     3.0
9400  1888188   DB0101EN     3.0
9401   708518   RP0101EN     3.0

[9402 rows x 3 columns]>

In [12]:
#sim
sim = pd.read_csv('sim.csv')
sim_columns = list(sim.columns)
print("sim columns: ", sim_columns)

sim columns:  ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '206', '207', '208', '209', '210', '211', '212', '213', '214', '215', '216', '217', '218', '219', '220', '221', '222', '223', '224', '225', '226', '227', '228', '229', '230', '231', '232', '233', '234', '235', '236', '237', '238', '239', '240', '241', '242', '243', '244', '245', '246', '247', '248', '249', '250', '251', '252', '253', '254', '255', '256', '257', '258', '259', '260', '261', '262', '263', '264', '265', '266', '267', '268', '269', '270', '271', '272', '273', '274', '275', '276', '277', '278', '279', '280', '281', '282', '283', '284', '285', '286', '287', '288', '289', '290', '291', '292', '293', '294', '295', '296', '297', '298', '299', '300', '301', '302', '303', '304', '305', '306']

In [21]:
#user_embeddings
user_embeddings = pd.read_csv('user_embeddings.csv')
user_embeddings_columns = list(user_embeddings.columns)
print("user_embeddings columns: ", user_embeddings_columns)
print(user_embeddings.info())

user_embeddings columns:  ['user', 'UFeature0', 'UFeature1', 'UFeature2', 'UFeature3', 'UFeature4', 'UFeature5', 'UFeature6', 'UFeature7', 'UFeature8', 'UFeature9', 'UFeature10', 'UFeature11', 'UFeature12', 'UFeature13', 'UFeature14', 'UFeature15']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33901 entries, 0 to 33900
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user        33901 non-null  int64
 1   UFeature0   33901 non-null  float64
 2   UFeature1   33901 non-null  float64
 3   UFeature2   33901 non-null  float64
 4   UFeature3   33901 non-null  float64
 5   UFeature4   33901 non-null  float64
 6   UFeature5   33901 non-null  float64
 7   UFeature6   33901 non-null  float64
 8   UFeature7   33901 non-null  float64
 9   UFeature8   33901 non-null  float64
 10  UFeature9   33901 non-null  float64
 11  UFeature10  33901 non-null  float64
 12  UFeature11  33901 non-null  float64
 13  UFeature12  33901 non-null  float64
 14  UFeature13  33901 non-null  float64
 15  UFeature14  33901 non-null  float64
 16  UFeature15  33901 non-null  float64
dtypes: float64(16), int64(1)
memory usage: 4.4 MB
None

In [22]:
user_embeddings

,user,UFeature0,UFeature1,UFeature2,UFeature3,UFeature4,UFeature5,UFeature6,UFeature7,UFeature8,UFeature9,UFeature10,UFeature11,UFeature12,UFeature13,UFeature14,UFeature15
0,1889878,0.080721,-0.129561,0.087998,0.030231,0.082691,-0.004176,-0.003480,0.091464,-0.040247,0.018958,-0.153328,-0.090143,0.082830,-0.058721,0.057929,-0.001472
1,1342067,0.068047,-0.112781,0.045208,-0.007570,-0.038382,0.068037,0.114949,0.104128,-0.034401,0.004011,0.064832,0.165857,-0.004384,0.053257,0.014308,0.056684
2,1990814,0.124623,0.012910,-0.072627,0.049935,0.020158,0.133306,-0.035366,-0.156026,0.039269,0.042195,0.014695,-0.115989,0.031158,0.102021,-0.020601,0.116488
3,380098,-0.034870,0.000715,0.077406,0.070311,-0.043007,-0.035446,0.032846,-0.060944,0.112384,0.002114,0.090660,-0.068545,0.008967,0.063962,0.052347,0.018072
4,779563,0.106414,-0.001887,-0.017211,-0.042277,-0.074953,-0.056732,0.074610,-0.019367,-0.031341,0.064896,-0.048158,-0.047309,-0.007544,0.010474,-0.032287,-0.083983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33896,1525198,0.030928,0.023841,-0.043546,0.007947,0.042259,-0.033503,-0.031111,0.036865,-0.027394,-0.014666,0.027467,0.056807,0.035407,0.016624,0.003942,-0.042969
33897,1047293,-0.025774,-0.011417,0.002209,-0.020827,-0.002285,-0.007308,0.023367,-0.006890,-0.022531,0.014554,0.031916,-0.028916,0.031161,-0.031941,0.012866,0.016397
33898,1653442,0.029938,-0.038859,-0.014539,-0.046586,0.014946,0.017971,0.049848,0.007205,0.072723,-0.072453,-0.064114,0.006508,0.040719,-0.055399,0.007838,-0.050092
33899,946438,0.031057,0.031040,0.015897,0.024325,0.036805,0.001677,-0.029462,-0.033028,0.047495,0.040393,-0.034266,0.035967,-0.033399,0.037442,0.039109,-0.031742
33900,711047,0.020679,-0.020455,-0.027815,0.026966,-0.056719,0.039016,-0.003032,-0.030065,0.025525,-0.014463,0.049404,-0.023288,0.010950,0.027079,-0.002459,0.003503

In [14]:
print(len(user_embeddings.columns))

17

In [15]:
#user_profile
user_profile = pd.read_csv('user_profile.csv')
user_profile_columns = list(user_profile.columns)
print("user_profile columns: ", user_profile_columns)

user_profile columns:  ['user', 'Database', 'Python', 'CloudComputing', 'DataAnalysis', 'Containers', 'MachineLearning', 'ComputerVision', 'DataScience', 'BigData', 'Chatbot', 'R', 'BackendDev', 'FrontendDev', 'Blockchain']

In [32]:
user_profile.dtypes

user                 int64
Database           float64
Python             float64
CloudComputing     float64
DataAnalysis       float64
Containers         float64
MachineLearning    float64
ComputerVision     float64
DataScience        float64
BigData            float64
Chatbot            float64
R                  float64
BackendDev         float64
FrontendDev        float64
Blockchain         float64
dtype: object

In [16]:
# Supervised (KNN) IBM capstone project merged dataframes

#None only used : course_ratings.csv

In [17]:
# Supervised (Neural Network) IBM capstone project

# Merged rating df with user emb
# Merged merged df with item emb